# Prerequisite

Following packages must be installed to run codes below

```bash
$ pip3 install openpyxl 
```

In [1]:
%load_ext autoreload
%autoreload 2

# Add project path

In [2]:
import os
import sys
from pathlib import Path

PROJECT_PATH = Path().resolve().parent.parent
SRC_PATH = PROJECT_PATH / 'src'

sys.path.append(str(SRC_PATH))

# Load data

In [5]:
from data_loader import SectorDataLoader

data_loader = SectorDataLoader()
data = (
    data_loader.load_dataset()
    .pipe(data_loader.add_beaver_indicator)
    .pipe(data_loader.add_label)
)
data

,BIZ_NO,CMP_PFIX_NM,CMP_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_TYP,CMP_SCL,PBCO_GB,...,STAT_OCR_DATE_y,Closed_Year,유동자산/부채총계,당기순이익(손실)/자산총계,부채총계/자산총계,순운전자본/자산총계,유동부채/유동자산,Years_From_Closed_Year_To_FS,Closed_In_1Yr,Closed_In_2Yrs
117,1018135422,(주),한국선박기술,NaN,NaN,Korea Marine Time Service,M,NaN,2,2,...,20200930.0,2020.0,1.031451,0.038773,0.578094,0.543045,0.089273,2.0,0,1
219,1018154206,(주),드림미즈,NaN,NaN,"dreammiz Co., Ltd.",M,NaN,2,2,...,20201231.0,2020.0,1.220040,0.001177,0.662356,0.608449,0.247063,2.0,0,1
279,1018163684,NaN,디에프에스서울,NaN,(주),DFS Seoul Ltd.,M,NaN,2,2,...,20190917.0,2019.0,11.012914,0.046666,0.090794,0.909114,0.090802,1.0,1,1
339,1018178760,(주),대교디앤씨,NaN,NaN,"DAEGYO D & C CO.,LTD.",M,NaN,2,2,...,20191010.0,2019.0,0.916364,-0.026128,1.091269,0.097514,0.902486,1.0,1,1
406,1018194173,NaN,에코에너지,NaN,(주),"Eco Energy Co.,Ltd.",M,NaN,2,2,...,20200831.0,2020.0,1.183355,-0.062095,0.828142,0.194625,0.801400,2.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111403,8998700283,(주),덕성건설,NaN,NaN,Deokseong Construction,M,NaN,2,2,...,20211130.0,2021.0,2.297688,0.059256,0.331674,0.546849,0.282429,3.0,0,0
111404,8998700283,(주),덕성건설,NaN,NaN,Deokseong Construction,M,NaN,2,2,...,20211130.0,2021.0,2.364265,0.037196,0.331850,0.563553,0.281715,2.0,0,1
111405,8998701263,NaN,하나머스트제6호기업인수목적,NaN,(주),HANA MUST SIXTH SPECIAL PURPOSE ACQUISITION CO...,M,NaN,2,2,...,20211115.0,2021.0,12.463476,-0.001106,0.080234,0.999584,0.000416,3.0,0,0
111406,8998701263,NaN,하나머스트제6호기업인수목적,NaN,(주),HANA MUST SIXTH SPECIAL PURPOSE ACQUISITION CO...,M,NaN,2,2,...,20211115.0,2021.0,12.387999,0.010200,0.080723,0.999931,0.000069,2.0,0,1
111407,8998701263,NaN,하나머스트제6호기업인수목적,NaN,(주),HANA MUST SIXTH SPECIAL PURPOSE ACQUISITION CO...,M,NaN,2,2,...,20211115.0,2021.0,12.297073,0.006132,0.081320,0.999931,0.000069,1.0,1,1

In [6]:
(
    data.loc[lambda x: x['Years_From_Closed_Year_To_FS']==1]
    .loc[:, ['Years_From_Closed_Year_To_FS', '결산년월', 'Closed_Year', 'Closed_In_1Yr', 'Closed_In_2Yrs']]
    ['결산년월'].value_counts()
)

20181231    910
20191231    642
20201231    443
20211231    114
20180331     29
20200630     19
20180630     18
20190630     17
20190331     16
20190930     15
20210630     11
20200331      7
20200930      7
20200430      6
20201031      6
20200229      5
20191031      4
20210331      4
20190430      3
20200131      3
20210930      3
20180930      2
20181031      2
20180430      2
20200731      2
20190228      2
20180831      2
20180228      2
20210531      1
20200831      1
20190531      1
20191130      1
Name: 결산년월, dtype: int64

In [7]:
(
    data.loc[lambda x: x['Years_From_Closed_Year_To_FS']==2]
    .loc[:, ['Years_From_Closed_Year_To_FS', '결산년월', 'Closed_Year', 'Closed_In_1Yr', 'Closed_In_2Yrs']]
    ['결산년월'].value_counts()
)

20181231    2034
20191231    1413
20201231     480
20190630      32
20180630      28
20180331      24
20200630      16
20180930      14
20190331      13
20190930       9
20190228       6
20190430       5
20191031       5
20200331       5
20200930       3
20181031       3
20190831       3
20180430       2
20190731       1
20190531       1
20180228       1
20180131       1
20180731       1
20190131       1
20180531       1
20181130       1
Name: 결산년월, dtype: int64

In [8]:
(
    data
    .loc[lambda x : x['결산년월']==20211231, ['Years_From_Closed_Year_To_FS', '결산년월', 'Closed_Year', 'Closed_In_1Yr', 'Closed_In_2Yrs']]
    .loc[lambda x : x['Years_From_Closed_Year_To_FS'].notnull()]
)

,Years_From_Closed_Year_To_FS,결산년월,Closed_Year,Closed_In_1Yr,Closed_In_2Yrs
1549,1.0,20211231,2022.0,1,1
1918,1.0,20211231,2022.0,1,1
2148,1.0,20211231,2022.0,1,1
5484,1.0,20211231,2022.0,1,1
6370,1.0,20211231,2022.0,1,1
...,...,...,...,...,...
109583,1.0,20211231,2022.0,1,1
109775,1.0,20211231,2022.0,1,1
110733,1.0,20211231,2022.0,1,1
110910,1.0,20211231,2022.0,1,1
111338,1.0,20211231,2022.0,1,1

In [9]:
(
    data.loc[lambda x: x['Years_From_Closed_Year_To_FS']==1]
    .loc[:, ['Years_From_Closed_Year_To_FS', '결산년월', 'Closed_Year', 'Closed_In_1Yr', 'Closed_In_2Yrs']]
)

,Years_From_Closed_Year_To_FS,결산년월,Closed_Year,Closed_In_1Yr,Closed_In_2Yrs
279,1.0,20181231,2019.0,1,1
339,1.0,20181231,2019.0,1,1
407,1.0,20191231,2020.0,1,1
409,1.0,20191231,2020.0,1,1
437,1.0,20181231,2019.0,1,1
...,...,...,...,...,...
111303,1.0,20201231,2021.0,1,1
111304,1.0,20181231,2019.0,1,1
111338,1.0,20211231,2022.0,1,1
111376,1.0,20181231,2019.0,1,1
111407,1.0,20201231,2021.0,1,1

In [10]:
(
    data
    .loc[lambda x : x['Closed_Year'].notnull(), ['Years_From_Closed_Year_To_FS', '결산년월', 'Closed_Year', 'Closed_In_1Yr', 'Closed_In_2Yrs']]
)

,Years_From_Closed_Year_To_FS,결산년월,Closed_Year,Closed_In_1Yr,Closed_In_2Yrs
117,2.0,20181231,2020.0,0,1
219,2.0,20181231,2020.0,0,1
279,1.0,20181231,2019.0,1,1
339,1.0,20181231,2019.0,1,1
406,2.0,20181231,2020.0,0,1
...,...,...,...,...,...
111403,3.0,20181231,2021.0,0,0
111404,2.0,20191231,2021.0,0,1
111405,3.0,20181231,2021.0,0,0
111406,2.0,20191231,2021.0,0,1
111407,1.0,20201231,2021.0,1,1